Source: process-tools
Section: unknown
Priority: optional
Maintainer: Rainer Weikusat <rweikusat@talktalk.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/rweikusat/process-tools
#Vcs-Browser: https://salsa.debian.org/debian/uni-json
#Vcs-Git: https://salsa.debian.org/debian/uni-json.git

Package: process-tools
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Tools for process configuration and startup
 A set of small programs supposed to be useful for starting background
 processes. Conceptually, this is the anti-systemd package: Instead of
 a huge program which does everything and rides roughshood over
 anything, some small programs which all do exactly one thing and can
 be integrated into everything, including systemd.
 
